@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "UserList";
}

<h1>UserList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Mevcut Roller
            </th>
            <th>
                Rol İşlemleri
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <user-role-names user-id="@item.UserId"></user-role-names>
                </td>
                <td>
                    <a asp-controller="Roles" asp-action="RoleAssignToUser" asp-route-UserId="@item.UserId">Rol Ata</a>
                </td>
            </tr>
        }
    </tbody>
</table>
